* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  #login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .formulario {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }
  
  .redes {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  .redes .logearse {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: hsl(221, 84%, 10%);
    text-align: center;
  }
  
  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.facebook {
    background: #32508E;
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }
  
p{
  font-size: 1.4rem;
  align-items: center;
  padding-left: 3%;
}
.titular p {
    line-height: 30px;
    padding-left: 9.7%;
}

h1{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    font-size: 2.2rem;
    color: #0f661cf2;
}
.parrafoHome {
    font-size: 2.2rem;
    text-align: center;
    color: #0d3b3cf2;
    text-shadow: 0px 1px 2px #1e3f3fbf;
}
.parrafo{
font-size: 1.3rem;
padding-left:13%;
}

img{
display: flex;
align-items: center;
padding-left: 20%;
}

.services-container h2 {
    margin-bottom: 50px;
}
h2 {
    text-align: center;
    padding: 20px;
    font-size: 1.4rem;
}
h3{
    text-align: center;
    display: flex;
    padding-left: 4%;
}
.presentacion{
    width: 100%;
    margin:20px;
    border-radius: 6px;
}

.presentacion img{
    position: relative;
    display: inline-block;
    height: 250px;
    padding: 30px;
    border-radius: 50px;
    border: groove;

}
.medicpsiq img {
    position: relative;
    display:flex;
    margin-right: 20%;
    border-radius: 250%;
}
.logo{
    width: 5%;
}
.ubicacion{
    padding-right:0%;
}

.secciones{
    display:flex;
justify-content: space-between;
padding: 20px 15px;
}

.card {
    width: auto;
    display: flex;
    gap: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.card_perfil {
    width: 320px;
}
.card img {
    width: 80% ;
    height: 170px;
    border-radius: 50px;
}
.card_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card_nombre img {
    width: 80%;
}

.contenedor {
width: 100%;
 margin:20px;
 border-radius: 6px; 
}

.doctores img{
    position: relative;
    display: inline-block;
    height: 250px;
    padding: 30px;
    border-radius: 50px;
    border: groove;
}


.professionals-container {
    display: flex;
    flex-direction: row;
}

.professionals-container .profesionals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profesionals .profesionals-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profesionals-card .profesionals-card--social {
    display: flex;
}

.profesionals-card .profesionals-card--social i {
    margin-right: 5px;
}

#cardiology-md, #psychiatry-md, #radiology-md, #dentist-md, .profesionals-card--social i {
    color: #4f4a4a;
}

.profesionals .profesionals-card p {
    font-weight: bold;
    color: #0d3b3cf2;
}

.profesionals .profesionals-card .doctors {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-bottom: 10px;
}

.profesionals .profesionals-card  .doc1 {
    background: url(.img/doc1.jpeg) center / cover no-repeat; 
}

.profesionals .profesionals-card  .doc2 {
    background: url(./img/doc2.jpeg) center / cover no-repeat;
}

.profesionals .profesionals-card  .doc3 {
    background: url(./img/doc3.jpeg) center / cover no-repeat;
}

.profesionals .profesionals-card  .doc4 {
    background: url(./img/doc4.jpeg) center / cover no-repeat;
}


/* header */
header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
header section .logo-p {
    width: 80px;
    padding-top: 30px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #000000;
    color: #e7e8eb;
    padding: 20px 15px;
    font-size: 0.9rem;
    align-self: flex-end;
}


.f-logo {
        width: 90%;
        display: flex;
        align-self:auto;
        align-items: center;
        margin-bottom: 15px;
    }

    .f-logo img {
        width: 60px;
    }

    .f-logo div {
        display: flex;
        flex-direction: column;
        color:#dfd8d8;
    }

    .f-info ul {
        padding-left: 8px;
        margin-top: 30px;
    }

    .f-info ul a {
        color: #dfd8d8;
    }

    .f-info ul a li i {
        margin-right: 10px;
    }
    .f-social ul {
        display: flex;
    }

    .f-social ul a {
        margin-right: 10px;
    }

.iconos{
display: flex;
justify-content: center;
flex-wrap: nowrap;
}    




/* BARRA DE NAVEGACION */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    background-color:#222;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color:rgb(6, 107, 151);
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #24252a;
}

.ul-second > li:hover {
    background-color: hsl(240, 8%, 85%);
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}

.nav-menu ul{
    display: flex;
    align-items: center;

}
.nav-menu li{
    margin-right: 2rem;
}
.nav-menu a{
    color: #fff;
}
.nav-menu li:last-child { 
    background:#f8f9ff;
    padding: .25rem .75rem;
    border-radius: .2rem;
{    

}

/* OYT - TRAUMATOLOGIA INTRODUCCION */

#oyt-imagen-principal {
    padding: 5px 0px 5px 0px;
    width: 100%;
    height: 200px;
}
#oyt-turnos {
    margin: 20px 250px 160px 250px;
    border: solid 20px rgb(29, 105, 124);
}
#oyt-turnos-imagen {
    width: 55%;
    padding: 0px 0px 30px 15px;
}
#oyt-titulo {
    font-size: 34px; 
}
#oyt-imagen-principal {
    height: 300px;
}
#oyt-introducción {
    padding: 20px;
    font-size: 17px;
}
.services-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.services-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.services-container div .services-info {
    text-align: justify;
    margin-bottom: 30px;
}

.service-text-color {
    margin-bottom: 15px;
}

.services-container div .services-info .service-text-color {
    color: #0d3b3cf2;
    text-shadow: 0px 1px 1px #1e3f3fbf;
}

.services-container div .services-info .service-icon {
    font-size: 1.8rem;
}

.services-container div .services-info .service-name {
    font-weight: bold;
}
/* --- BANNER DE HOME --- */

main .img {
    background-image: url(./img/hospitalBanner.jpg);
    align-items: center;
    height: 10%;
    position: relative;
}


main .banner-home h1 {
    bottom: 120px;
    font-size: 2.5rem;
    display: flex;
    align-items: flex-start;
    color: #0d3b3cf2;
    text-shadow: 2px 1px 2px #1e3f3fbf;
}


/* OYT - TRAUMATOLOGIA INTRODUCCION */

#oyt-imagen-principal {
    padding: 5px 0px 5px 0px;
    width: 100%;
    height: 200px;
}
#oyt-turnos {
    margin: 20px 250px 160px 250px;
    border: solid 20px rgb(29, 105, 124);
}
#oyt-turnos-imagen {
    width: 55%;
    padding: 0px 0px 30px 15px;
}
#oyt-titulo {
    font-size: 34px; 
}
#oyt-imagen-principal {
    height: 300px;
}
#oyt-introducción {
    padding: 20px;
    font-size: 17px;
}
.services-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.services-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.services-container div .services-info {
    text-align: justify;
    margin-bottom: 30px;
}

.service-text-color {
    margin-bottom: 15px;
}

.services-container div .services-info .service-text-color {
    color: #0d3b3cf2;
    text-shadow: 0px 1px 1px #1e3f3fbf;
}

.services-container div .services-info .service-icon {
    font-size: 1.8rem;
}

.services-container div .services-info .service-name {
    font-weight: bold;
}

/* --- NUESTROS PROFESIONALES --- */

#oyt-profesionales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.oyt-profesionales-nombres {
    font-size: 17px;
}
.oyt-profesionales-especialidad {
    font-size: 14px;
}
.oyt-profesionales-fotos {
    width: 30%;
}


/* OYT - TRAUMATOLOGIA INTRODUCCION */

/* OYT SUBESPECIALIDADES */
.oyt-subtitulos {
    font-size: 30px;
}
#oyt-subespecialidades-lista {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* OYT CUERPO MEDICO */
#oyt-profesionales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.oyt-profesionales-nombres {
    font-size: 17px;
}
.oyt-profesionales-especialidad {
    font-size: 14px;
}
.oyt-profesionales-fotos {
    width: 30%;
}

/* OYT TURNOS */
#oyt-turnos {
    margin: 20px 160px 80px 160px;
}
#oyt-turnos-contenido {
    font-size: 17px;
}
.oyt-turnos-logos {
    width: 6%;
}

@media (min-width: 640px)  {
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    .menu li a {
        padding: 56px;
    }
    .menu li ul {
        min-width: 220px;
    }
    header nav {
        position: static;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #060404;
        height: 70px;
    }
    
    .about-us-card--first {
        margin-top: 25px;
    }

    .about-us-box-img, .about-us-card--reverse .about-us-description {
        margin-right: 15px;
    }    

    .about-us-card {
        flex-direction: row;
        padding: 0;
        margin-bottom: 70px;
    }

    .about-us-description {
        width: 75%;
        color: #1e1f1ff2;
        font-weight: 500;
    }

    .about-us-card--reverse {
        flex-direction: row-reverse;
}

.professionals-container h2 {
        margin: 50px; 
        text-decoration: overline;
}
.professionals-container .profesionals {
        display: flex;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
}

.professionals-container .profesionals .profesionals-card {
        width: 50%;
        padding: 20px;
}
}

@media(min-width:1024px)

.checkbtn{
    display: block;
}
.menu-icon{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.nav-menu ul{
    display: block;
    position: fixed;
    top:70px;
    left:-100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0;
}
.nav-menu ul li{
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
}
.nav-menu ul li:last-child{
    background: none;
    padding: 1rem;
}
.menu li a {
    padding: 56px;
}
.menu li ul {
    min-width: 220px;
}

    .p{
        text-align: center;
    }
    .h1obs{
        font-size: 30px;
    }
    .presentacion{
        display:inline-block
    
    }
        /* OYT MENU */
        .oyt-logo-clinica {
            width: 7%;
        }
        .oyt-menu {
            font-size: 20px;
        }
        .oyt-menu-lista-principal li {
            padding: 15px;
        }
        .oyt-menu-lista-servicios {
            font-size: 18px;
        }
        
        /* OYT INTRODUCCION */
        #oyt-titulo {
            font-size: 40px;
        }
        
        /* OYT CUERPO MEDICO */
        .oyt-profesionales-nombres {
            font-size: 18px;
        }
        .oyt-profesionales-especialidad {
            font-size: 15px;
        }
        /* OYT TURNOS */
        #oyt-turnos {
            margin: 20px 250px 160px 250px;
            border: solid 20px rgb(29, 105, 124);
        }
        #oyt-turnos-imagen {
            width: 55%;
            padding: 0px 0px 30px 15px;
        }
    
    .card_perfil {
        width: 1020px;
    }
    .card img {
        width: 325px ;
        height: 240px;
    }
    .card_nombre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .card h2 {
        text-align: center;
        padding: 55px;
    }
    
    @media (max-width:768px){
        .checkbtn{
            display: block;
        }
        .menu-icon{
            display: block;
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        .nav-menu ul{
            display: block;
            position: fixed;
            top:70px;
            left:-100%;
            background: #222;
            width: 100%;
            height: 100vh;
            right: 0;
        }
        .nav-menu ul li{
            padding: 2rem;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        .nav-menu ul li:last-child{
            background: none;
            padding: 1rem;
        }
        .menu li a {
            padding: 56px;
        }
        .menu li ul {
            min-width: 220px;
        }
        .doc{
            padding: 15px;
            width: 630px;
            height: 520px;
        }
        .card_perfil {
            width: 768px;
        }
        h2 {
        text-align: center;
        padding: 15px;
        font-size: xx-large;
        }
    }
    @media (max-width:900px) { 
        .logo-p {
            display: none;
        }
    }
    
